* {
	font-family: 'Roboto', sans-serif;
	color: #808080;
	margin: 0px;
}

iframe {
	border: 0px;
}

#content {
	background: inherit;
	position: relative;
	max-width: 1000px;
	min-width: 500px;
	min-height: 100%;
	margin: 0 auto;
	-moz-transition: width 1s ease;
	-webkit-transition: width 1s ease;
	transition: width 1s ease;
}

.frame {
	margin: 15px;
	width: 100%;
}

.column {
	background: #FFFFFF;
	margin-left: .5rem;
	margin-right: .5rem;
}

.topbar {
	z-index: -1;
	/*background-image: url("../img/topbar2.png");*/
	background-repeat: no-repeat;
	background-size: 100% 100px;
	background: #F89406;
	width: 100%;
	height: 100px;
}

.toptitle {
	text-align: center;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 48px;
}

#navigation {
	width: 100%;
	height: 35px;
	background-color: #FFFFFF;
	border-bottom: 1px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #F89406;
}

.navigation-button {
	display: block;
	position: absolute;
	text-align: center;
	font-size: 18px;
	height: inherit;
	line-height: 35px;
	text-decoration: none;
}

.navigation-button:hover {
	animation-name: navigation-hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.navigation-inner-button {
	border-left: 1px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-bottom-width:1px;
	border-color: #F89406;
}

.fade { }

body {
	background: #F1F1F1;
}

@keyframes navigation-hover {
	from {
		border-bottom-width: 1px;
	}
	
	to {
		border-bottom-width: -6px;
	}
}